@import "tailwindcss";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";
@import "./styles/theme/light.css";
@import "./styles/theme/dark.css";
@import "./styles/theme/inline.css";
@import "./styles/components/github-alerts.css";
@import "./styles/components/fd.css";
@import "./styles/base.css";
@import "fumadocs-twoslash/twoslash.css";

@plugin "tailwindcss-animate";
@source "../node_modules/fumadocs-ui/dist/**/*.js";

button[data-search-full] {
	--color-fd-secondary: hsl(0, 0%, 100%);
	--color-fd-accent: hsl(0, 0%, 100%);
}

.dark button[data-search-full] {
	--color-fd-secondary: hsl(0, 0%, 0%);
	--color-fd-accent: hsl(0, 0%, 0%);
}

.dark body,
.dark html {
	background-color: var(--background);
	background-image: none;
}
