# Node Environment Mode
NODE_ENV=development

# Server Network Configuration (using custom network keywords in ArkEnv)
HOST=localhost
PORT=3000

# Booleans (coerced automatically)
DEBUGGING=true
SHINY=true

# Numbers (coerced automatically)
LLAMA_COUNT=1

# Basic Strings & Unions
NICKNAME=John
COLOR=red

# Optional variables
API_KEY=123

# Arrays (coerced using arrayFormat: 'json')
MY_ARRAY=[1,2,false]

# Undeclared key (demonstrates that onUndeclaredKey: 'delete' strips this out)
UNRELATED=hey
