@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	code,
	pre {
		font-family:
			var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
	}

	button:not(:disabled) {
		@apply cursor-pointer;
	}
}

@layer utilities {
	.fd-steps {
		padding-left: 2.3rem;
	}

	/* Twoslash code block max height */
	.fd-twoslash-popover .fd-scroll-container {
		max-height: 160px !important;
	}
}
