name: "size-limit"
on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/**"
jobs:
  size:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
